$firstColor: #F22539;
$secondColor: #C00E20;
$thirdColor: #ECA539;
$textColor: #5E5E5E;
$textColorAlt: #BFBFBF;
$titleColor: #353535;
$white: #F9F9F9;
$whiteAlt: #F5F5F5;
$whiteVariant: #E8E8E8;
$bgBody: #E5E5E5;

$font-montserrat: 'Montserrat', sans-serif;
